<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Update person</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<form class="decor" th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3 align="center">Изменение данных</h3>
        <label for="name"> ФИО: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:blue" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
        <br/>
        <label for="age"> Возраст: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color:blue" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</div>
        <br/>
        <label for="countryofresidence"> Страна проживания: </label>
        <input type="text" th:field="*{countryofresidence}" id="countryofresidence"/>
        <div style="color:blue" th:if="${#fields.hasErrors('countryofresidence')}" th:errors="*{countryofresidence}">Error
        </div>
        <br/>
        <label for="marriage"> Семейное положение: </label>
        <input type="text" th:field="*{marriage}" id="marriage"/>
        <div style="color:blue" th:if="${#fields.hasErrors('marriage')}" th:errors="*{marriage}">Error</div>
        <br/>
        <label for="conviction"> Судимость: </label>
        <input type="text" th:field="*{conviction}" id="conviction"/>
        <div style="color:blue" th:if="${#fields.hasErrors('conviction')}" th:errors="*{conviction}">Error</div>
        <br/>
        <label for="status"> Статус: </label>
        <input type="text" th:field="*{status}" id="status"/>
        <div style="color:blue" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Error</div>
        <br/>
        <label for="commentary"> Комментарий: </label>
        <input type="text" th:field="*{commentary}" id="commentary"/>
        <div style="color:blue" th:if="${#fields.hasErrors('commentary')}" th:errors="*{commentary}">Error</div>
        <br/>
        <input type="submit" value=" Применить изменения "/>
    </div>
</form>

</body>
</html>