<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<form class="decor" th:method="POST" th:action="@{/people}" th:object="${person}">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3 align="center">Новый человек</h3>
        <label for="name"> ФИО: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:blue" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
        <br/>
        <label for="age"> Возраст: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color:blue" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</div>
        <br/>
        <label for="countryofresidence"> Страна проживания: </label>
        <input type="text" th:field="*{countryofresidence}" id="countryofresidence"/>
        <div style="color:blue" th:if="${#fields.hasErrors('countryofresidence')}" th:errors="*{countryofresidence}">Error</div>
        <br/>

        <label for="marriage"> Судимость: </label>
        <select name="conviction" th:field="*{marriage}" id="marriage">
            <option th:each="m : ${marriage}"
                    th:value="${m}" th:text="${m.title}">VALUE</option>
        </select>
        <br/>


        <label for="conviction"> Судимость: </label>
        <select name="conviction" th:field="*{conviction}" id="conviction">
            <option th:each="c : ${conviction}"
                    th:value="${c}" th:text="${c.title}">VALUE</option>
        </select>
        <br/>


        <label for="status"> Судимость: </label>
        <select name="status" th:field="*{status}" id="status">
            <option th:each="s : ${status}"
                    th:value="${s}" th:text="${s.title}">VALUE</option>
        </select>
        <br/>



        <label for="commentary"> Комментарий: </label>
        <input type="text" th:field="*{commentary}" id="commentary"/>
        <br/>
        <input type="submit" value=" Добавить "/>
    </div>
</form>

</body>
</html>