<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" type="text/css" href="../static/newUser.css">
    <script src="../static/currentDateAndTimeScript.js">timeScript</script>
</head>
<body>

<div style="font-family:verdana; font-size:24px" id="timedisplay">DateAndTime</div>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Регистрация </h2>
        <div class="fadeIn first">

            <img src="../static/fsb.jpg" id="icon" alt="fsb_pic"/>

        </div>
        <form th:method="POST" th:action="@{/authorization/newUser}" th:object="${user}">
            <input type="text" class="fadeIn second" th:field="*{login}" id="login" placeholder="Введите логин">
            <div style="color:blue" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Error</div>

            <input type="text" class="fadeIn second" th:field="*{password}" id="password" placeholder="Введите пароль">
            <div style="color:blue" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>

            <div style="color:blue; margin:10px" th:if="${#fields.hasErrors('global')}">
                <p th:each="error : ${#fields.errors('global')}" th:text="${error}">Error</p>
            </div>

            <input type="submit" class="fadeIn fourth" value="Зарегистрировать">

        </form>

    </div>
</div>
</body>
</html>